<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <books>
        <entry>
            <key>3</key>
            <value>/home/nikita/Java EE/questions.pdf</value>
        </entry>
        <entry>
            <key>13</key>
            <value>/home/nikita/SD/BooksManiaClient/Swing.pdf</value>
        </entry>
    </books>
    <serverPort>10667</serverPort>
</configuration>
