<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <books>
        <entry>
            <key>10</key>
            <value>/home/nikita/Java EE/questions.pdf</value>
        </entry>
    </books>
    <clientPort>10777</clientPort>
    <serverPort>10666</serverPort>
</configuration>
