<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <books>
        <entry>
            <key>23</key>
            <value>/home/nikita/literature.pdf</value>
        </entry>
        <entry>
            <key>24</key>
            <value>/home/nikita/questions.pdf</value>
        </entry>
        <entry>
            <key>27</key>
            <value>/home/nikita/sdk-linux.bin</value>
        </entry>
        <entry>
            <key>28</key>
            <value>/home/nikita/sdk-linux9.bin</value>
        </entry>
    </books>
    <serverPort>10700</serverPort>
</configuration>
